fastapi>=0.100.0
uvicorn>=0.23.0
pynfe>=0.2.0
python-multipart>=0.0.6
requests>=2.31.0
signxml>=3.2.0
lxml>=4.9.0
cryptography>=41.0.0
pywin32>=306
pyinstaller>=5.13.0
firebase-admin>=6.2.0
pystray>=0.19.4
Pillow>=10.0.0
